.navbar-default .navbar-nav>li>a, .navbar-default .navbar-text {
    color: #fff;
    text-shadow: none;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

body {
    /*default sunset*/
    background:#f5f7fa;
    background-attachment: fixed,             fixed,              fixed;
    background-position: center center;  background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.card-theme {
    background: #4b6cb7; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #4b6cb7 , #182848); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom left, #4b6cb7 , #182848); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #95a2aa;
}

.text-shadow {
    text-shadow: -2px 2px rgba(255,255,255,0) !important;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    color: #95a2aa;
}

.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #95a2aa;
    background-color: #eee;
}
.dropdown-menu>li>a {
    top: 12px;
    display: block;
    margin: 8px;
    border-radius: 8px!important;
    font-weight: 400;
    color: #95a2aa;
    padding: 0 25px;
    text-shadow: none;
}

.header-colored {
    color: #95a2aa;
}

.widget {
    display: block;
    position: relative;
    margin-bottom: 30px;
    padding: 15px 20px;
    border-radius: 8px;
    color: #95a2aa;
    background: #fff;
    border: 1px solid #e9e9e9;
    box-shadow: -10px 10px 15px rgba(25,25,25,0);
}

#plangroup {
  box-shadow:none;
  border:none!important;
}

.text-darklight {
  color:#95a2aa;
}

.timer.text-darklight:hover {
    color: #333;
}
.text-contrast {
  color:#95a2aa;
}

a:focus, a:hover {
  color:#212121;  
}

.btn-ghost-light, .btn-ghost-light {
    color: #95a2aa;
    border: 2px solid #95a2aa;
}

nav, .navbar {
    border-bottom: 1px solid #e9e9e9;
    /*background: linear-gradient(to bottom, #3C4961,#262d3f);*/
    background: linear-gradient(to bottom, #2c3441,#2c3441);
    font-family: 'Source Sans Pro', 'Open Sans','Helvetica Neue',Arial,sans-serif !important;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: transparent;
    background: transparent;
}
.navbar .nav>li>.dropdown-menu::before {
    top: -13px;
    border-bottom: 11px solid #fff;
    border-bottom-color: rgba(0,0,0,.05);
}

.icon-contrast, .text-darklight {
    color: #95a2aa;
}

.nl-form .nl-submit {
    line-height: 3;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;
    background: #76C3BD;
     color: #95a2aa;
    padding: 0 1em 0 0;
    font-size: 40%;
    font-weight: bold;
    letter-spacing: 3px;
}

.nl-field-toggle, .nl-form input, .nl-form select {
    line-height: inherit;
    display: inline-block;
    font-weight: bold;
    color: #69747A;
    cursor: pointer;
    border-bottom: 1px dashed #69747A;
}

.side {
    background:transparent !important;
}

.outer-nav a {
    display: inline-block;
    white-space: nowrap;
    font-weight: 300;
    color:#95a2aa;
    margin: 0 0 30px 0;
    -webkit-transition: color 0.3s;
    transition: color 0.3s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.outer-nav a:hover {
    color: #55acee;
}

.ifwhitetheme {
    border: 1px solid #e9e9e9 !important;
    width: 100.4% !important;
}

.card-theme {

    background: #7a90ff; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom left, #495CBD,#050C2D);
    background: linear-gradient(to bottom left, #495CBD,#050C2D);
}

.icon-bar .top-bar {
    color: #95a2aa;
}

.contrast-border {
    border: 2px solid rgba(14,41,57,0.05)!important;
    box-shadow: inset 0 2px 0 rgba(255,255,255,0.5),0 2px 0 rgba(255,255,255,0.5);
}
