<a style="position:absolute;bottom:10px;right:15px" href="https://www.expeditedssl.com/simple-ssl-scanner/scan?target_domain=www.timekloud.com" target="_blank" rel="nofollow"><img src="https://www.expeditedssl.com/ssl-secure-badge.png" alt="Expedited SSL Scanner"></a>
<div class="" style="">
  <a style="font-size:20px;position:absolute;padding:15px;top:0px;left:10px;" href="/login" class="text-darklight"><i style="color:white;padding-right:10px;" class="ion ion-ios-arrow-back ion-3x"></i>Back to Login</a>
  <a style="font-size:20px;position:absolute;padding:15px;top:0px;right:10px;" ui-sref="app.dashboard" ng-if="!showLoader" class="text-darklight">Go to App<i style="color:white;padding-left:10px;" class="ion ion-ios-arrow-forward ion-3x"></i></a>  
  <a style="font-size:20px;position:absolute;padding:15px;top:0px;left:10px;" href="/home" target="self" class="text-darklight"><i style="color:white;padding-right:10px;" class="ion ion-ios-arrow-back ion-3x"></i></a>
  <div class="inner-container" style="height:100%;margin-top:100px;">
    <h1 class="text-darklight font-weight-thin hidden-xs text-center" style="margin-left:-19px">{{verifyText}}&nbsp;&nbsp;<i ng-if="!showLoader" style="color:white;" class="icon ion-checkmark-round ion-2x"></i></h1>
    <div class="responsive-loader" ng-if="showLoader" style="margin-right:auto;display:block;background:rgba(255,255,255,0.9);paddng:30px;padding-top:50px;padding-bottom:50px;border-radius:8px;width:200px;">
      <div style="margin-left:auto;margin-right:auto;display:block" class="loader loader--size-64 loader--thickness-5"></div>
    </div>
    <a class="btn btn-success" ng-if="!showLoader" ui-sref="app.dashboard"><span class="text-darklight font-weight-thin hidden-xs" style="padding-left:20px;padding-right:20px;">Go to TimeKloud</i></span></a>
  </div>
</div>