 <br>
 <section class="pricing-section bg-12">        
        <h1 class="text-center text-darklight animated fadeInDown delay-6">Our Plans</h1>
        <br><br>
        <form class="pricing pricing--palden">
            <div class="pricing__item animated fadeInUp">
                <div class="pricing__deco">
                    <svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100" enable-background="new 0 0 300 100" xml:space="preserve">
                        <path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
                        <path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
                        <path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
H42.401L43.415,98.342z" />
                        <path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
                    </svg>
                    <div class="pricing__price animated bounceIn delay-6"><span class="pricing__currency">$</span>0<span class="pricing__period">/ mo</span></div>
                    <h3 class="pricing__title">Free</h3>
                    <br>
                </div>
                <ul class="pricing__feature-list">
                    <li class="pricing__feature animated bounceIn delay-6">Unlimted Projects & Tasks</li>
                    <li class="pricing__feature animated bounceIn delay-7">Stripe Integration</li>
                    <li class="pricing__feature animated bounceIn delay-8">Recurring Billing</li>
                </ul>
                <button style="text-decoration:none" href ng-click="vm.updatePlan('free')" class="col-md-10 col-md-offset-1 btn btn-success animated bounceIn delay-6">Choose plan</button>
            </div>
            <div class="pricing__item pricing__item animated fadeInUp delay-2">
                <div class="pricing__deco">
                    <svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100" enable-background="new 0 0 300 100" xml:space="preserve">
                        <path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
                        <path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
                        <path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
H42.401L43.415,98.342z" />
                        <path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
                    </svg>
                    <div class="pricing__price animated bounceIn delay-7"><span class="pricing__currency">$</span>9<span class="pricing__period">/ mo</span></div>
                    <h3 class="pricing__title">Pro</h3>
                    <br>
                </div>
                <ul class="pricing__feature-list">
                    <li class="pricing__feature animated bounceIn delay-6">20 Themes</li>
                    <li class="pricing__feature animated bounceIn delay-7">Desktop Notifications</li>
                    <li class="pricing__feature animated bounceIn delay-8">Advanced Statistics</li>
                </ul>
                <button style="text-decoration:none;margin-bottom:20px;" href ng-click="vm.updatePlan('pro')" class="col-md-10 col-md-offset-1 btn btn-success animated bounceIn delay-7">Choose plan</button>
            </div>
            <div class="pricing__item animated fadeInUp delay-4">
                <div class="pricing__deco">

                    <svg class="pricing__deco-img" version="1.1" id="Layer_1" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="300px" height="100px" viewBox="0 0 300 100" enable-background="new 0 0 300 100" xml:space="preserve">
                        <path class="deco-layer deco-layer--1" opacity="0.6" fill="#FFFFFF" d="M30.913,43.944c0,0,42.911-34.464,87.51-14.191c77.31,35.14,113.304-1.952,146.638-4.729
c48.654-4.056,69.94,16.218,69.94,16.218v54.396H30.913V43.944z" />
                        <path class="deco-layer deco-layer--2" opacity="0.6" fill="#FFFFFF" d="M-35.667,44.628c0,0,42.91-34.463,87.51-14.191c77.31,35.141,113.304-1.952,146.639-4.729
c48.653-4.055,69.939,16.218,69.939,16.218v54.396H-35.667V44.628z" />
                        <path class="deco-layer deco-layer--3" opacity="0.7" fill="#FFFFFF" d="M43.415,98.342c0,0,48.283-68.927,109.133-68.927c65.886,0,97.983,67.914,97.983,67.914v3.716
H42.401L43.415,98.342z" />
                        <path class="deco-layer deco-layer--4" fill="#FFFFFF" d="M-34.667,62.998c0,0,56-45.667,120.316-27.839C167.484,57.842,197,41.332,232.286,30.428
c53.07-16.399,104.047,36.903,104.047,36.903l1.333,36.667l-372-2.954L-34.667,62.998z" />
                    </svg>
                    <div class="pricing__price animated bounceIn delay-8"><span class="pricing__currency">$</span>19<span class="pricing__period">/ mo</span></div>
                    <h3 class="pricing__title">Team</h3>                    
                    <br>
                </div>
                <ul class="pricing__feature-list">
                    <li class="pricing__feature animated bounceIn delay-6">Coming Soon</li>
                    <li class="pricing__feature animated bounceIn delay-7">in 2016</li>
                    <li class="pricing__feature animated bounceIn delay-8">Stay tuned</li>
                </ul>
                <button style="text-decoration:none" href class="col-md-10 col-md-offset-1 btn btn-success animated bounceIn delay-8" ng-click="vm.updatePlan('team')" disabled="">Choose plan</button>
            </div>
        </form>
    </section>