<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/png" href="assets/img/favicon.ico"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Argent</title>
        
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../assets/css/landing-page.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="../assets/css/sweetalert.css" rel="stylesheet" />
        <link href="../assets/css/override.css" rel="stylesheet" />
        <style type="text/css">
            html {
                overflow: scroll;
                overflow-x: hidden;
            }
            ::-webkit-scrollbar {
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            /* optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: #FF0000;
            }      
            #header, .icon, nav.li {
                /*margin-top: 25px;*/
                /*font-size: 26px;*/
                /*text-align: center;*/

                -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
                   -moz-animation: fadein 2s; /* Firefox < 16 */
                    -ms-animation: fadein 2s; /* Internet Explorer */
                     -o-animation: fadein 2s; /* Opera < 12.1 */
                        animation: fadein 2s;
                }

                @keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Firefox < 16 */
                @-moz-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Safari, Chrome and Opera > 12.1 */
                @-webkit-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Internet Explorer */
                @-ms-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Opera < 12.1 */
                @-o-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }
                .hero.fullscreen {
                    height: 800px;
                    position: relative;
                }                
        </style>
    </head>
    <body class="landing-page landing-page1">       
    <div class="hero fullscreen section-one">
                <div class="bs-example">                    
                    <!-- Modal HTML -->
                    <div id="modal" class="modal fade">
                        <div class="modal-dialog"  width="560" height="316">
                            <div class="modal-content" style="background:none;border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:10px;">
                                <button type="button" class="close" style="width:50px;height:50px;margin-top:-20px;margin-right:-20px;color:white;" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="modal-body">
                                    <iframe src="https://player.vimeo.com/video/171163518" width="560" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>         
                <div class="">
                    <h2 class="push-down pretty-font"></h2>
                    
                        <div class="desktop-visitor">
                            <a>
                            <br><br><br><br>
                            <h3 class="pretty-font">Our Company</h3>
                            </a>
                        </div>
                        <div class="mobile-visitor">
                            <a>
                            <br><br>
                            <h3 class="pretty-font">Our Company</h3>
                            <br>
                            </a>
                        </div>                        
                        <div class="col-md-offset-2 col-md-8 desktop-visitor">
                            <br><br>
                            <h3 id="header" class="pretty-font" style="line-height:2">We are a dedicated team of entrepreneurs based in the United States who hope to change the businesses and individuals get paid for services. Our company offers a recurring billing system and a payment platform where individuals and companies can make and receive payments using credit cards, bank accounts or crypto currencies for the services they offer.</h3>
                            <br>
                            </a>
                        </div>
                        <div class="col-md-offset-2 col-md-8 mobile-visitor">
                            <h5 id="header" class="pretty-font" style="line-height:2">We are a dedicated team of entrepreneurs based in the United States who hope to change the businesses and individuals get paid for services. Our company offers a recurring billing system and a payment platform where individuals and companies can make and receive payments using credit cards, bank accounts or Bitcoin. <br><br>Got any questions? <a style="color:#00aced" href="mailto:support@argent-tech.com">Get in touch!</a></h5>
                            <br>
                            </a>
                        </div>                        
                </div>
                <dir>
                    <div class="col-md-offset-2 col-md-8 desktop-visitor">
                            <h3 id="header" class="pretty-font" style="line-height:2">Got a Question?  <a style="color:#00aced" href="mailto:support@argent-tech.com">Get in touch!</a></h3>
                    </div>
                    <div class="col-md-offset-2 col-md-8 mobile-visitor">
                            <h3 id="header" class="pretty-font" style="line-height:2">Got a Question?  <a style="color:#00aced" href="mailto:support@argent-tech.com">Get in touch!</a></h3>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                            <br>
                    </div>
                </dir>
<!--            <br>
                <br>
                <br>
                <br>
                <div class="row">
                    <div class="col-md-3 col-md-offset-2">
                        <a href="#" class="thumbnail" style="border:none;">
                             <img height="120px" width="120px" src="assets/img/1.jpg" class="icon img-responsive" style="border-radius:50%">
                        </a>
                    </div>
                     <div class="col-md-2">
                        <a href="#" class="thumbnail" style="border:none;">
                             <img height="120px" width="120px" src="assets/img/2.jpg" class="icon img-responsive" style="border-radius:50%">
                        </a>
                    </div>
                    <div class="col-md-3">
                        <a href="#" class="thumbnail" style="border:none;">
                             <img height="120px" width="120px" src="assets/img/faces/3.png" class="icon img-responsive" style="border-radius:50%">
                        </a>
                    </div>
                </div>      -->   

            </div>
           
            <nav class="navbar navbar-light navbar-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                        </button>
                        <a href="http://www.#.com">
                            <div class="logo-container">
                                <!-- <div class="logo">
                                    <img src="assets/img/new_logo.png" alt="Argent Logo">
                                </div> -->
                                <div class="brand">
                                    <!-- <a href><img src="assets/img/icon.png" height="30px" style="display:inline;margin-top:-5px;"></a> -->
                                      <h5 class="brand-style hidden-xs" style="font-size:20px;margin-top:10px;color:#7b8999;display:inline;"><img style="height:50px;width:50px:border-radius:50%;" src="assets/img/logos/argent/logo-app.png"></h5>
                                        <h5 class="visible-xs" style="font-size:20px;margin-top:-3px;margin-left:5px;color:#7b8999;display:inline;"><img style="height:30px;width:30px:border-radius:50%;" src="assets/img/logos/argent/logo-app.png"></h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse push-down" style="background:white" id="example" >
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-xs">
                                <a class="font-style" href="#"> 
                                    <span></span>
                                </a>
                            </li> 
                            <li>
                                <a class="font-style" href="/home"> 
                                    <span>Home</span>
                                </a>
                            </li>                         
                            <li>
                                <a class="font-style" href="/company"> 
                                    <span>Company</span>
                                </a>
                            </li>  
                            <li>
                                <a class="font-style" href="#modal" class="btn btn-lg btn-primary" data-toggle="modal"> 
                                    <span>Video</span>
                                </a>
                            </li>                                                                         
                            <li>
                                <a class="font-style" target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8"> 
                                    <span>Download</span>
                                </a>
                            </li>                          
                            <li>
                                <a class="font-style" href="/login"> 
                                    <!-- <span>Login</span> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
           
            <footer class="footer" style="background:#7b8999;text-align:center;">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="/home">
                                <span class="white pretty-font">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/company">
                                <span class="white pretty-font">Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://argentapp.zendesk.com/hc/en-us" target="_blank">
                                <span class="white pretty-font">Support</span>
                                </a>
                            </li>   
                            <li>
                                <a href="https://medium.com/@argentapp" target="_blank">
                                <span class="white pretty-font">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="/privacy" target="_blank">
                                <span class="white pretty-font">Privacy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/terms" target="_blank">
                                <span class="white pretty-font">Terms</span>
                                </a>
                            </li>     
                        </ul>
                    </nav>
                    <div class="social-area pull-right">                
                        <a class="btn btn-social btn-simple" href="https://www.facebook.com/theargentapp" target="_blank">
                        <i class="white fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.twitter.com/argentapp" target="_blank">
                        <i class="white fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.instagram.com/argentapp" target="_blank">
                        <i class="white fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        <span class="white">&copy; 2016</span> <a href="#" class="white pretty-font">Argent Technologies LLC</a>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>
    </body>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/awesome-landing-page.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>  
        <script type="text/javascript">
        $(document).ready(function(){
            /* Get iframe src attribute value i.e. YouTube video url
            and store it in a variable */
            var url = $("#video").attr('src');
            
            /* Assign empty url value to the iframe src attribute when
            modal hide, which stop the video playing */
            $("#modal").on('hide.bs.modal', function(){
                $("#video").attr('src', '');
            });
            
            /* Assign the initially stored url back to the iframe src
            attribute when modal is displayed again */
            $("#modal").on('show.bs.modal', function(){
                $("#video").attr('src', url);
            });
        });
    </script>  
</html>                                  