<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/png" href="assets/img/favicon.ico"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Argent</title>
        
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../assets/css/landing-page.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Nunito:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="../assets/css/sweetalert.css" rel="stylesheet" />
        <link href="../assets/css/override.css" rel="stylesheet" />
    </head>
    <body class="landing-page landing-page1">
    <div class="hero fullscreen section-one">
                <div class="pay-with-biller">
                    <h2 class="push-down pretty-font"></h2>
                    
                        <div class="mobile-visitor">
                            <a target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" class="download-app biller-redirect-link" title="Download Argent">
                            <br><br><br>
                            <h3 class="pretty-font">Welcome to Argent</h3>
                            <br>
                                <!-- <div class="btn btn-primary btn-lg button push-down">Download</div> -->
                            </a>
                        </div>
                        <div class="desktop-visitor">
                        <form id="emailForm" class="">
                            <input type="email" class="email-entry" name="Email" id="email_input" placeholder="you@example.com">
                            <br>        
                            <br>        
                            <br>        
                            <br>        
                            <a href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" title="Download Argent" target="_blank">
                                <div class="btn btn-lg button email-entry" style="text-transform:none;letter-spacing: 1.2px;font-weight:lighter;font-family:'Open Sans'"">Go to App Store</div>
                            </a>   
                            <a href="#" title="Download Argent" onclick="sendEmail()">
                                <div class="btn btn-lg button" style="text-transform:none;letter-spacing: 1.2px;font-weight:lighter;font-family:'Open Sans'"">Send App to Email</div>
                            </a>   
                        </form>
                        </div>
                    
                        <div class="header-image" style="display: none">

                            <div class="biller-phone-logo">
                                <div class="background">
                                    <p class="biller-name"></p>
                                    <div class="background-overlay"></div>
                                </div>
                                <div class="logo">
                                    <span></span>
                                    <img>
                                </div>
                            </div>
                            
                            <img src="assets/images/phone-biller-blank.png" class="push-down phone-image">

                        </div>
                        <div class="absolute-image bill-assistant">
                            <img src="assets/img/mocks/iphone-animated.gif?rand=<?=rand(1,1000);?" id="animated-phone" class="push-down phone-image">
                        </div>              
                    
                </div>
            </div>
            <nav class="navbar navbar-light navbar-top" role="navigation">
                <div class="container">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#example">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                        </button>
                        <a href="http://www.#.com">
                            <div class="logo-container">
                                <!-- <div class="logo">
                                    <img src="assets/img/new_logo.png" alt="Argent Logo">
                                </div> -->
                                <div class="brand">
                                    <!-- <a href><img src="assets/img/icon.png" height="30px" style="display:inline;margin-top:-5px;"></a> -->
                                    <h5 class="brand-style hidden-xs" style="font-size:20px;margin-top:10px;color:#7b8999;display:inline;"><img style="height:50px;width:50px:border-radius:50%;" src="assets/img/logo.png"></h5>
                                    <h5 class="visible-xs" style="font-size:20px;margin-top:-3px;margin-left:5px;color:#7b8999;display:inline;"><img style="height:30px;width:30px:border-radius:50%;" src="assets/img/logo.png"></h5>

                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse push-down" style="background:white" id="example" >
                        <ul class="nav navbar-nav navbar-right">
                            <li class="hidden-xs">
                                <a class="font-style" href="#"> 
                                    <span></span>
                                </a>
                            </li> 
                            <li class="hidden-xs">
                                <a class="font-style" href="#"> 
                                    <span></span>
                                </a>
                            </li>                              
                            <li>
                                <a class="font-style" href="/company"> 
                                    <span>Company</span>
                                </a>
                            </li>  
                            <li>
                                <a class="font-style" href="#"> 
                                    <span>Video</span>
                                </a>
                            </li>                                                                         
                            <li>
                                <a class="font-style" target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8"> 
                                    <span>Download</span>
                                </a>
                            </li>                          
                            <li>
                                <a class="font-style" href="/login"> 
                                    <!-- <span>Login</span> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="section section-gray section-clients">
                <div class="container text-center">
                    <div class="icon">
                        <!-- <img src="assets/img/icon-rocket.png" height="60px" width="60px" /> -->
                    </div>
                    <!-- <h3 style="color:#7b8999">Preparing thrusters...</h3> -->
                    <br>
                    <div class="">
                        <a href><img height="50px" src="assets/img/icons/icon-app-store.png"></a>
                        <!-- <button class="btn btn-simple btn-neutral"> -->
                        <!-- <i class="fa fa-android"><span class="font-style">&nbsp;&nbsp;Coming Soon</span></i> -->
                        <!-- </button> -->
                    </div>
                    <p>
                        <!-- Build customer confidence by listing your users! Anyone who has used your service and has been pleased with it should have a place here! From Fortune 500 to start-ups, all your app enthusiasts will be glad to be featured in this section. Moreover, users will feel confident seing someone vouching for your product!<br> -->
                    </p>
<!--                <div class="logos">
                        <ul class="list-unstyled">
                            <li ><img src="assets/img/logos/adobe.png"/></li>
                            <li ><img src="assets/img/logos/zendesk.png"/></li>
                            <li ><img src="assets/img/logos/ebay.png"/></i>
                            <li ><img src="assets/img/logos/evernote.png"/></li>
                            <li ><img src="assets/img/logos/airbnb.png"/></li>
                            <li ><img src="assets/img/logos/zappos.png"/></li>
                        </ul>
                    </div> -->
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:300px;height:500px;">
                            <div class="description">
                                <h4 class="pretty-font giga-font slate">Light, Fast, Beautiful</h4>
                                <p class="slate">With Argent you can solve the problem of continually managing monthly, bi-annual, and yearly recurring billing issues with our simple to use iOS app.  Start accepting payments through either our recurring billing system, or point of sale solution today.</p>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1 hidden-xs">
                            <img src="assets/img/mocks/iphones.png"/ style="top:50px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero light section-three push-down">
                <h2 class="push-down"></h2>
                <div class="absolute-image-watch">
                    <img src="assets/img/mocks/apple-watch-dark.gif" id="apple-watch" class="push-down">
                </div>      
            </div>
            <div class="section section-features">
                <div class="container" style="margin-top:100px;">
                    <h4 class="pretty-font giga-font slate text-center">Features</h4>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-recurring.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font"><b>Recurring Payments</b></h4>
                                    <p class="pretty-font"><span>Create a recurring payment plan for your customers, clients, tenants, or members and get paid. Whether you are looking to create monthly, quarterly, or yearly subscriptions, we’ve got you covered. </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/apple-pay/Apple_Pay_mark_large_@3x.png" />
                                </div>
                                <h4 class="pretty-font"><b>Apple Pay®</b></h4>
                                <p class="pretty-font"><span>The world's most secure payment infrastructure at your fingertips.  Utilize Apple Pay to pay other Argent users or sign up for recurring payments.  Credit card data is always handled in a PCI compliant manner.</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-bitcoin.png" />
                                </div>
                                <h4 class="pretty-font"><b>Bitcoin</b></h4>
                                <p class="pretty-font"><span>Accept the leading global cryptocurrency at your Point of Sale.  Any Bitcoin mobile wallet can now transfer money directly from your POS system to your bank account.  No configuration needed. </span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-risk.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font"><b>Risk Profiling</b></h4>
                                    <p class="pretty-font"><span>Receive a score of 1-100 based on proprietary risk calculation algorithms.  All risk profiling data is confidential unless otherwise requested.   </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-pulse.png" />
                                </div>
                                <h4 class="pretty-font"><b>Dashboard</b></h4>
                                <p class="pretty-font"><span>View all your account information in an easy-to-use dashboard.  See pending and available account balances, as well as interval transfer history.</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-bank.png" />
                                </div>
                                <h4 class="pretty-font"><b>Bank Authentication</b></h4>
                                <p class="pretty-font"><span>Directly connect to any bank account in the US or Canada.  No more waiting for small deposits to clear.  We currently support over 1,000+ institutions. </span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-notification.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font"><b>Push Notifications</b></h4>
                                    <p class="pretty-font"><span>Get notified on all account activity with push notifications. From charges created to customers added and transfers paid.  We keep you up to date and moving in real-time.</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-touch.png" />
                                </div>
                                <h4 class="pretty-font"><b>Touch ID®</b></h4>
                                <p class="pretty-font"><span>Utilize the power of biometrics to keep your account secure.  We use Touch ID as the default security configuration with a fallback to PIN codes for older iPhone models.</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-alipay.png" />
                                </div>
                                <h4 class="pretty-font"><b>Alipay & ACH <h6>(coming soon)<h6></b></h4>
                                <p class="pretty-font"><span>We are diligently working to add Alipay POS support as well as direct ACH money transfers from peer-to-peer and peer-to-merchant. </span></p>
                            </div>
                        </div>                                                
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container" style="margin-top:200px;margin-bottom:200px;">
                    <h4 class="pretty-font big-font text-center">What people are saying</h4>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/face-3.png">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Bob John, Real Estate Agent</p>
                                    <h5 class="slate">"I absolutely love your app! It's truly amazing and looks awesome!"</h5>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="mask">
                                    <img src="assets/img/faces/face-2.png">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>John Deere, Farmer</p>
                                    <h5 class="slate">"This is one of the most awesome apps I've ever seen! Wish you luck!"</h5>
                                </div>
                            </div>
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/face-1.png">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Beach Bro, Accountant</p>
                                    <h5 class="slate">"Loving this! Just picked it up the other day. Thank you for the work you put into this."</h5>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-orange">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding">
                <div class="parallax filter-gradient gray" data-color="orange">
                    <div class="parallax-background">
                        <img class ="flipped" src="assets/img/showcases/showcase-1/bg.jpg">
                    </div>
                    <div class="info">
                        <h1 class="pretty-font">Start Getting Paid</h1>
                        <p>Free to use with no monthly fees or hidden charges | 3.99% + 30¢ per transaction </p>
                        <br>
                        <a target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" href><img height="50px" src="assets/img/icons/icon-app-store.png"></a>
                    </div>
                </div>
            </div>
            <footer class="footer" style="background:#7b8999;">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="/home">
                                <span class="white pretty-font">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/company">
                                <span class="white pretty-font">Company</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://medium.com/@argentapp" target="_blank">
                                <span class="white pretty-font">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="/privacy" target="_blank">
                                <span class="white pretty-font">Privacy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/terms" target="_blank">
                                <span class="white pretty-font">Terms</span>
                                </a>
                            </li>                                                        
                        </ul>
                    </nav>
                    <div class="social-area pull-right">                
                        <a class="btn btn-social btn-simple" href="https://www.facebook.com/theargentapp" target="_blank">
                        <i class="white fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.twitter.com/argentapp" target="_blank">
                        <i class="white fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.instagram.com/argentapp" target="_blank">
                        <i class="white fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        <span class="white">&copy; 2016</span> <a href="#" class="white pretty-font">Argent Technologies LLC</a>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>
    </body>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/awesome-landing-page.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>
    <script>
        function sendEmail() {
            //console.log("submitting")
            var form = $('#emailForm');
            var email = $('input[name="Email"]').val()
            if (email === "") {
                swal({   
                    title: "Error",   
                    text: "Email field cannot be empty",   
                    type: "error",   
                    confirmButtonText: "Ok" 
                });
                return;
            }
            // console.log("phone number is", "+1" + rawPhoneNumber);
            // console.log(form)
            $.ajax({
                type: "POST",
                url: "https://www.argentapp.com/v1/email",
                dataType: "json",  
                contentType: 'application/json; charset=UTF-8', // This is the money shot
                data: JSON.stringify({
                    "email": email
                }),
                success: function (data) {
                    swal({   
                        type:"success",
                        title: "🎉 Success",   
                        text: "The app link is on it's way!",  
                        confirmButtonText: "Ok!" 
                    });
                },
                failure: function(err) {
                    swal({   
                        title: "Error",   
                        text: "App could not be sent to phone :(",   
                        type: "error",   
                        confirmButtonText: "Ok" 
                    });
                }
            });
        }
    </script>
</html>