<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/png" href="assets/img/favicon.ico"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Argent</title>
        
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../assets/css/landing-page.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Nunito:300italic,400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/css?family=PT+Sans:400,700" rel="stylesheet">
        <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="../assets/css/sweetalert.css" rel="stylesheet" />
        <link href="../assets/css/override.css" rel="stylesheet" />
        <style type="text/css">
            html {
                overflow: scroll;
                overflow-x: hidden;
            }
            ::-webkit-scrollbar {
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            /* optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: #7b8999;
            }               
            .bs-example{
            }
        </style>        
    </head>
    <body class="landing-page landing-page1">
    <div class="hero fullscreen section-one">
                <div class="bs-example">                    
                    <!-- Modal HTML -->
                    <div id="modal" class="modal fade">
                        <div class="modal-dialog"  width="560" height="316">
                            <div class="modal-content" style="background:none;border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:10px;">
                                <button type="button" class="close" style="width:50px;height:50px;margin-top:-20px;margin-right:-20px;color:white;" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="modal-body">
                                    <iframe src="https://player.vimeo.com/video/171163518" width="560" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>      
                <div class="section-no-padding">
                    <div class="parallax filter-gradient" data-color="orange">
                        <div class="parallax-background">
                            <img class ="" src="assets/img/backgrounds/header.jpg">
                        </div>
                        <div class="info" style="margin-top:-15px;">
                            <h1 class="pretty-font-header" style="color:#334048;">Simplify Getting Paid</h1>
                            <p class="pretty-font-header" style="color:#334048;">2.99% + 30¢ per transaction </p>
                            <br>
                            <a class="btn btn-primary" style="background:#1b9de8;width:200px;height:50px;border-radius:5px;" target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" href>Visit App Store</a>
                            <br class="visible-xs visible-sm">
                            <br class="visible-xs visible-sm">
                            <a id="send_link" class="btn btn-primary" style="background:#334048;width:200px;height:50px;border-radius:5px;" onclick="enterEmail()" href>Send Link</a>

                        </div>
                    </div>
                </div>
            </div>
            <nav id="nav" class="navbar navbar-light navbar-top" role="navigation">
                <div class="">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                        </button>
                        <a href="http://www.#.com">
                            <div class="logo-container">
                                <!-- <div class="logo">
                                    <img src="assets/img/new_logo.png" alt="Argent Logo">
                                </div> -->
                                <div class="brand">
                                    <!-- <a href><img src="assets/img/icon.png" height="30px" style="display:inline;margin-top:-5px;"></a> -->
                                    <h5 class="brand-style hidden-xs" style="font-size:20px;color:#7b8999;display:inline;"><img style="height:50px;width:50px:border-radius:50%;margin-top:-15px;" src="assets/img/logos/argent/logo-shadow.png">&nbsp;Argent</h5>
                                    <h5 class="visible-xs" style="font-size:20px;margin-top:-3px;margin-left:5px;color:#7b8999;display:inline;"><img style="height:30px;width:30px:border-radius:50%;" src="assets/img/logos/argent/logo-shadow.png">&nbsp;<p style="padding-top:10px!important;display:inline;">Argent</p></h5>

                                </div>
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-responsive-color" id="nav-toggle" >
                        <ul class="nav navbar-nav navbar-right">                          
                            <li>
                                <a class="pretty-font-header" href="/company"> 
                                    <span>Team</span>
                                </a>
                            </li>  
                            <li>
                                <a class="pretty-font-header" href="#modal" class="btn btn-lg btn-primary" data-toggle="modal"> 
                                    <span>Video</span>
                                </a>
                            </li>                                                                         
                            <li>
                                <a class="pretty-font-header" target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8"> 
                                    <span>Download</span>
                                </a>
                            </li>                          
                            <li>
                                <a class="font-style" href="/login"> 
                                    <!-- <span>Login</span> -->
                                </a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>
            <div class="section section-gray section-clients mobile-visitor" style="margin-top:-200px;">
                <div class="container text-center">
                    <div class="">
                        <!-- <a href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" target="_blank"><img height="50px" src="assets/img/icons/icon-app-store.png"></a> -->
                        <img src="assets/img/icon-rocket.png" height="60px" width="60px" />
                        <button class="btn btn-simple btn-neutral">
                        <span class="pretty-font-header" style="color:#334048"><a href="https://medium.com/p/33c60c90ea78" target="_blank">We've launched!</a></span>
                        </button>
                    </div>
               <div class="logos">
                        <ul class="list-unstyled">
<!--                        <li ><img src="assets/img/logos/adobe.png"/></li>
                            <li ><img src="assets/img/logos/zendesk.png"/></li>
                            <li ><img src="assets/img/logos/ebay.png"/></i>
                            <li ><img src="assets/img/logos/evernote.png"/></li>
                            <li ><img src="assets/img/logos/airbnb.png"/></li>
                            <li ><img src="assets/img/logos/zappos.png"/></li> -->
                        </ul>
                    </div>
                </div>
            </div>            
            <div class="section section-gray section-clients desktop-visitor">
                <div class="container text-center">
                    <!-- <div class="icon"> -->
                    <!-- </div> -->
                    <!-- <h3 style="color:#7b8999">Argent is now available on the iOS App Store</h3> -->
                    <div class="">
                        <!-- <a href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" target="_blank"><img height="50px" src="assets/img/icons/icon-app-store.png"></a> -->
                        <img src="assets/img/icon-rocket.png" height="60px" width="60px" />
                        <button class="btn btn-simple btn-neutral">
                        <span class="pretty-font-header" style="color:#334048">&nbsp;&nbsp;We've launched!  Read about our release on <a href="https://medium.com/p/33c60c90ea78" target="_blank">Medium.</a></span>
                        </button>
                    </div>
               <div class="logos">
                        <ul class="list-unstyled">
<!--                             <li ><img src="assets/img/logos/adobe.png"/></li>
                            <li ><img src="assets/img/logos/zendesk.png"/></li>
                            <li ><img src="assets/img/logos/ebay.png"/></i>
                            <li ><img src="assets/img/logos/evernote.png"/></li>
                            <li ><img src="assets/img/logos/airbnb.png"/></li>
                            <li ><img src="assets/img/logos/zappos.png"/></li> -->
                        </ul>
                    </div>
                </div>
            </div>
            <div class="section section-presentation">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6" style="margin-top:300px;height:500px;">
                            <div class="description">
                                <h4 class="pretty-font-header giga-font slate">Easy Recurring Payments</h4>
                                <p class="slate pretty-font">With Argent you can solve the problem of continually managing monthly, bi-annual, and yearly recurring billing issues with our simple to use iOS app.  Start accepting payments through either our recurring billing system, or point of sale solution today.</p>
                                <p>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-5 col-md-offset-1">
                            <img src="assets/img/mocks/iphones.png"/ style="top:50px">
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero light section-three push-down row">
                <h2 class="push-down"></h2>
                <div class="col-md-6 absolute-image-watch hidden-xs">
                    <img style="margin-top:100px" height="680" src="assets/img/mocks/watch1-black.png" id="apple-watch" class="push-down">
                </div>    
                <div class="col-md-4 hidden-xs" style="margin-top:300px;height:500px;">
                    <div class="description">
                        <h4 class="pretty-font-header giga-font slate">Apple Watch Integration</h4>
                        <p class="slate pretty-font-header" style="font-weight:400">Stay on top of all account activity on-the-go with our Apple Watch app.  Also view your pending and available account balances at anytime.</p>
                        <p>
                        </p>
                    </div>
                </div>                  
                <div class="absolute-image-watch visible-xs">
                    <img style="margin-top:100px" height="400" src="assets/img/mocks/watch1-black.png" id="apple-watch" class="push-down">
                </div>                    
            </div>
            <div class="section section-features">
                <div class="container" style="margin-top:100px;">
                    <h4 class="pretty-font giga-font slate text-center">Features</h4>
                    <br><br>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-recurring.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font-header"><b>Recurring Payments</b></h4>
                                    <p class="pretty-font-header"><span>Create a recurring payment plan for your customers, clients, tenants, or members and get paid. Whether you are looking to create monthly, quarterly, or yearly subscriptions, we’ve got you covered. </span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-pos.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Point of Sale</b></h4>
                                <p class="pretty-font-header"><span>Accept one-time payments with either credit & debit cards or through a Bitcoin transaction.  For Bitcoin transactions use any Bitcoin wallet to push payments to your Argent account.  Alipay coming soon!</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-bitcoin.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Accept Bitcoin</b></h4>
                                <p class="pretty-font-header"><span>Accept the leading global cryptocurrency at your Point of Sale.  Any Bitcoin mobile wallet can now transfer money directly from your POS system to your bank account.  No configuration needed. </span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-pulse.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Transfer Dashboard</b></h4>
                                <p class="pretty-font-header"><span>View all your account information in an easy-to-use dashboard.  See pending and available account balances, as well as interval transfer history.</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-bank.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Bank Authentication</b></h4>
                                <p class="pretty-font-header"><span>Use your ACH Routing number and account number to connect to any bank within the United States.  Direct authentication coming soon. </span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-notification.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font-header"><b>Push Notifications</b></h4>
                                    <p class="pretty-font-header"><span>Get notified on all account activity with push notifications. From charges created to customers added and transfers paid.  We keep you up to date and moving in real-time.</span></p>
                                </div>
                            </div>
                        </div>
<!--                         <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-touch.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Touch ID®</b></h4>
                                <p class="pretty-font-header"><span>Use the power of biometrics to keep your account secure.  We use Touch ID as the default security configuration with a fallback to PIN codes for older iPhone models.</span></p>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-risk.png" />
                                </div>
                                <div class="text">
                                    <h4 class="pretty-font-header"><b>Risk Profiling <h6>(coming soon)<h6></b></h4>
                                    <p class="pretty-font-header"><span>Receive a score of 1-100 based on proprietary risk calculation algorithms.  All risk profiling data is confidential unless otherwise requested.   </span></p>
                                </div>
                            </div>
                        </div>                        
                        <div class="col-md-4">
                            <div class="card card-orange">
                                <br>                            
                                <div class="icon">
                                    <img width="75" height="75" src="assets/img/icons/icon-alipay.png" />
                                </div>
                                <h4 class="pretty-font-header"><b>Alipay & ACH <h6>(coming soon)<h6></b></h4>
                                <p class="pretty-font-header"><span>We are working to add Alipay point-of-sale support as well as direct ACH money transfers for both peer-to-peer and peer-to-merchant transactions. </span></p>
                            </div>
                        </div>   -->                                              
                    </div>
                </div>
            </div>
            <div class="section section-testimonial">
                <div class="container" style="margin-top:200px;margin-bottom:200px;">
                    <h4 class="pretty-font big-font text-center">What people are saying</h4>
                    <div id="carousel-example-generic" class="carousel fade" data-ride="carousel">
                        <div class="carousel-inner" role="listbox">
                            <div class="item">
                                <div class="mask">
                                    <img src="assets/img/faces/anonymous-2.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Don Hotz, SAP Consultant</p>
                                    <h5 class="slate" style="line-height:1">"Love the app!  It makes getting paid a breeze and removes the necessity for the other party to also have the same app."</h5>
                                </div>
                            </div>
                            <div class="item active">
                                <div class="mask">
                                    <img src="assets/img/faces/anonymous-2.jpg">
                                </div>
                                <div class="carousel-testimonial-caption">
                                    <p>Derek Christensen, Accenture</p>
                                    <h5 class="slate" style="line-height:1">"Excellent app for one-time and recurring payments.  Very useful for side consulting ventures and billing automation."</h5>
                                </div>
                            </div>
                        </div>
                        <ol class="carousel-indicators carousel-indicators-orange">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        </ol>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding desktop-visitor hidden-md hidden-sm hidden-xs">
                <div class="parallax filter-gradient" data-color="orange">
                    <div class="parallax-background">
                        <img class ="" src="assets/img/backgrounds/golden-gate-1.jpg">
                    </div>
                    <div class="info">
                        <h1 class="pretty-font" style="color:#2c3441;">Get Started Today</h1>
                        <p style="color:#2c3441;">Free to use with no monthly fees or hidden charges | 2.99% + 30¢ per transaction </p>
                        <br>
                        <a target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" href><img height="50px" src="assets/img/icons/icon-app-store.png"></a>
                    </div>
                </div>
            </div>
            <div class="section section-no-padding mobile-visitor visible-xs visible-sm visible-md">
                <div class="parallax filter-gradient" data-color="orange">
                    <div class="parallax-background">
                        <img class ="" src="assets/img/backgrounds/golden-gate-2.jpg">
                    </div>
                    <div class="info">
                        <h1 class="pretty-font" style="color:#2c3441;">Start Getting Paid</h1>
                        <p style="color:#2c3441;">Free to use with no monthly fees or hidden charges | 2.99% + 30¢ per transaction </p>
                        <br>
                        <a target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8" href><img height="50px" src="assets/img/icons/icon-app-store.png"></a>
                    </div>
                </div>
            </div>
            <footer class="footer" style="background:#2c3441;text-align:center;">
                <div class="container">
                    <nav class="pull-left">
                        <ul>
                            <li>
                                <a href="/home">
                                <span class="white pretty-font">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/company">
                                <span class="white pretty-font">Team</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://argentapp.zendesk.com/hc/en-us" target="_blank">
                                <span class="white pretty-font">Support</span>
                                </a>
                            </li>                            
                            <li>
                                <a href="https://medium.com/@argentapp" target="_blank">
                                <span class="white pretty-font">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="/privacy" target="_blank">
                                <span class="white pretty-font">Privacy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/terms" target="_blank">
                                <span class="white pretty-font">Terms</span>
                                </a>
                            </li>                                                        
                        </ul>
                    </nav>
                    <div class="social-area pull-right">                
                        <a class="btn btn-social btn-simple" href="https://www.facebook.com/theargentapp" target="_blank">
                        <i class="white fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.twitter.com/argentapp" target="_blank">
                        <i class="white fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.instagram.com/argentapp" target="_blank">
                        <i class="white fa fa-instagram"></i>
                        </a>
                    </div>
                    <div class="copyright">
                        <span class="white">&copy; 2016</span> <a href="#" class="white pretty-font">Argent Technologies LLC</a>
                    </div>
                </div>
            </footer>
        </div>
        
    </div>
    </body>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/awesome-landing-page.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>
    <script>
        document.querySelector('#send_link').onclick = function(e){
            e.preventDefault()
            swal({
                title: "Enter your email",
                text: "We'll send you a link to the app",
                type: 'input',
                showCancelButton: true,
                closeOnConfirm: false,
                animation: "slide-from-bottom",
                inputPlaceholder: "john@example.com",
            },
            function(inputValue){
                if (inputValue === false) return false;

                if (inputValue === "") {
                    swal.showInputError("Empty email not valid");
                    return false;
                }
            
                sendEmail(inputValue)

            });
        };
    </script>
    <script>
        function sendEmail(email) {
            //console.log("submitting")
            var form = $('#emailForm');
            // var email = $('input[name="Email"]').val()
            if (email === "") {
                swal({   
                    title: "Error",   
                    text: "Email field cannot be empty",   
                    type: "error",   
                    confirmButtonText: "Ok" 
                });
                return;
            }
            // console.log("phone number is", "+1" + rawPhoneNumber);
            // console.log(form)
            $.ajax({
                type: "POST",
                url: "https://api.argent.cloud/v1/email",
                dataType: "json",  
                contentType: 'application/json; charset=UTF-8',
                data: JSON.stringify({
                    "email": email
                }),
                success: function (data) {
                    // Send a "Played song" event to Mixpanel
                    // with a property "genre"
                    mixpanel.track(
                        "Email app sent",
                        {"status": "success"}
                    );
                    swal({   
                        type:"success",
                        title: "Success",   
                        text: "The app link is on it's way!",  
                        confirmButtonText: "Great!" 
                    });
                },
                failure: function(err) {
                    mixpanel.track(
                        "Email app error",
                        {"status": "error"}
                    );                    
                    swal({   
                        title: "Error",   
                        text: "App link could not be sent to email",   
                        type: "error",   
                        confirmButtonText: "Ok" 
                    });
                }
            });
        }
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            /* Get iframe src attribute value i.e. YouTube video url
            and store it in a variable */
            var url = $("#video").attr('src');
            
            /* Assign empty url value to the iframe src attribute when
            modal hide, which stop the video playing */
            $("#modal").on('hide.bs.modal', function(){
                $("#video").attr('src', '');
            });
            
            /* Assign the initially stored url back to the iframe src
            attribute when modal is displayed again */
            $("#modal").on('show.bs.modal', function(){
                $("#video").attr('src', url);
                // Send a "Played song" event to Mixpanel
                // with a property "genre"
                mixpanel.track(
                    "Played video",
                    {"video": "argent-intro"}
                );
            });
        });
    </script>    
    <script type="text/javascript">
        mixpanel.track_links("#nav a", "nav link clicked", {
            "referrer": document.referrer
        });
    </script>    
    <script type="text/javascript">
        $(document).ready(function(){
                mixpanel.track(
                    "Loaded Home",
                    {"status": "loaded"}
                );
        });
    </script>       
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("1f4fcfed7b7cd487fd3c3270e61476e6");
    </script><!-- end Mixpanel -->
</html>