# .ebextensions/app.config
container_commands:
  where_am_i:
    command: dir
# these commands run before the application and web server are
# set up and the application version file is extracted
commands:
  01_node_install:
    # install from epel repository
    # flag -y for no-interaction installation  
    command: sudo yum install -y nodejs npm --enablerepo=epel
    # don't run the command if node is already installed (file /usr/bin/node exists)
    # test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
  02_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  03_npm_install_bower:
    command: sudo npm i -g bower
container_commands:  
  04_cd_app:
    command: cd /var/app/current/    
  05_bower_install:
    command: sudo bower i --allow-root