# .ebextensions/app.config
container_commands:
  where_am_i:
    command: dir
# these commands run before the application and web server are
# set up and the application version file is extracted
commands:
  01_node_install:
    # run this command from /tmp directory
    cwd: /tmp
    # don't run the command if node is already installed (file /usr/bin/node exists)
    test: '[ ! -f /usr/bin/node ] && echo "node not installed"'
    # install from epel repository
    # flag -y for no-interaction installation
    command: sudo yum install -y nodejs npm --enablerepo=epel

