packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
    openssl-devel: []
commands:
  01_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  02_epl_install: 
    command: sudo yum install epel-release
  03_npm_install:
    command: sudo yum install nodejs
  04_npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  env:
      "PATH": "/usr/bin"
  05_bower_install:
    command: "bower update --allow-root"
    command: sudo bower install --allow-root