packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
    openssl-devel: []
commands:
  01_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  02_cwd_app:
    command: cwd /var/app/current/   
  03_npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  env:
      "PATH": "/usr/bin"
  04_bower_install:
    command: sudo bower install --allow-root