packages: 
  yum:
    gcc-c++: []
    make: []
    git: []
commands:
  00_node_binary:
    command: "ln -sf `ls -td /opt/elasticbeanstalk/node-install/node-* | head -1`/bin/node /bin/node"
  01_get_sudo:
    command: echo Defaults:root \!requiretty >> /etc/sudoers 
  02_epl_install: 
    command: sudo yum install epel-release
  03_npm_install:
    command: sudo yum install nodejs
  04_npm_install_bower:
    command: sudo npm install -g bower
container_commands:
  04_bower_install:
    command: sudo bower install --allow-root