<div class="container demo-1 text-center">
  <!-- Top Navigation -->
  <div class="main clearfix animated fadeIn">
      <div>
      <br><br>
          <form ng-if="!status.active" id="nl-form" class="nl-form text-contrast">
          Welcome, this is your Argent Dashboard
          <h4 class="text-contrast font-weight-thin">From here you can access your account information</h4>
          </form>     
      </div>
      <div>
        <div class="nl-overlay" ng-if="!status.active"></div>      
      </div>
    </form>
  </div>
</div><!-- /container --> 
