<div class="container demo-1 text-center" ng-controller="TimeTrackerController">
  <!-- Top Navigation -->
  <div class="main clearfix animated fadeIn" ng-controller="TrackerController">
      <div>
          <form ng-if="!status.active" id="nl-form" class="nl-form text-darklight" ng-controller="ProjectsController">
          Welcome to the PayKloud Dashboard
          </form>     
      </div>
      <div>
        <div class="nl-overlay" ng-if="!status.active"></div>      
      </div>
    </form>
  </div>
</div><!-- /container --> 
