<div class="animated fadeIn">
    <!-- <div style="background:rgba(255,255,255,.9) !important; width:100%;border-bottom:1px solid rgba(255,255,255,0.3);" > -->
    <div class="container text-contrast"  style="padding: 40px 30px;border-bottom-left-radius:8px;border-bottom-right-radius:8px;">
        <div ng-show="loaded" class="list list-projects col-md-10 col-md-offset-1" ng-controller="LogsController">
          <h1 class="text-darklight">Productivity</h1>
        </div>
        <div ng-show="loaded" ng-controller="LogsController">

            <!-- <div class="notice" ng-hide="projects.length > 0">
                Head to projects and create your first project to track time on!
            </div> -->
            
            <!-- <div class="notice" ng-show="logs.length <= 0 && projects.length > 0">
                Shouldn't you start tracking some time?
            </div> -->

            <div class="list list-logs widget col-md-10 col-md-offset-1 text-contrast" ng-show="logs.length > 0" style="border-radius:8px;padding-left:60px;padding-right:60px;padding-top:30px;">
                <h2 class="text-center col-md-12">Breakdown</h2>
                <br>
                <p class="text-center col-md-12 margin-bottom"><img height="100px" style="margin-top:10px;margin-bottom:40px;" src="app/img/round_icons/report.png">  </p> 
                <br>     
                <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon" style="border:none;"><i class="icon ion-search"></i></div>
                        <input style="border:3px solid #eee;" type="text" class="form-control" placeholder="Search Entries" ng-model="searchLogs">
                      </div>      
                    </div>
                </form>  
                <table class="table table-responsive margin-top" border="0">
                    <thead>
                        <th>Seconds</th>
                        <th>Time Spent</th>
                        <th>Date Started</th>
                        <th class="hide-mobile">Project ID</th>
                        <th>Task</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="(key, log) in logs | filter:searchLogs">
                        <td>{{log.seconds | json }}</td>
                            <td>
                                <span class="time">{{ getTime(log, user) | date }}</span>                                
                            </td>
                            <td>
                                <span class="date">{{ getDateStart(log) | date }}</span>
                            </td>
                            <td class="hide-mobile">
                                {{ log.projectId }}
                            </td>
                            <td>
                                <input style="background:transparent;border-bottom:1px solid #ccc;padding:0px" type="text" class="input input-notes" ng-model="log.task" ng-change="logs.$save(log)" />
                            </td>
                            <td class="align-right">
                                <button tooltip-placement="right" tooltip="Delete&nbsp;entry" class="button robin-red small" style="background:transparent;border:none;" ng-click="logs.$remove(log)"><i class="icon ion-trash-b"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>        
    </div>  
</div>