<div class="animated fadeIn">
    <!-- <div style="background:rgba(255,255,255,.9) !important; width:100%;border-bottom:1px solid rgba(255,255,255,0.3);" > -->
    <div class="container" style="padding: 40px 30px;border-top-left-radius:8px;border-top-right-radius:8px;">
        <div ng-show="loaded" class="list list-projects col-md-10 col-md-offset-1" ng-controller="ProjectsController">
          <h1 class="text-darklight">Overview</h1>
        </div>
        <div ng-show="loaded" ng-controller="ProjectsController">
            <div class="list widget list-projects col-md-10 col-md-offset-1 text-contrast" style="border-radius:8px;padding-left:60px;padding-right:60px;padding-top:30px;">
                <h2 class="text-center col-md-12">Projects</h2>
                <br>
                <p class="text-center col-md-12 margin-bottom"><img height="100px" style="margin-top:10px;margin-bottom:40px;" src="app/img/round_icons/chart.png">  </p> 
                <br>   
                <form>
                    <div class="form-group">
                      <div class="input-group">
                        <div class="input-group-addon" style="border:none;"><i class="icon ion-search"></i></div>
                        <input style="border:3px solid #eee;" type="text" class="form-control" placeholder="Search Projects" ng-model="searchProjects">
                      </div>      
                    </div>
                </form>                                
                <table class="table table-bordered table-responsive">
                    <thead class="text-center text-contrast">
                        <th>Project name</th>
                        <th>Time spent</th>
                        <th>View Chart</th>
                        <th>Delete</th>
                    </thead>
                    <tbody>
                        <tr ng-repeat="project in projects | filter: searchProjects">
                            <td>
                                <input type="text" style="border-bottom:1px dotted #ddd;padding:0px!important;background:transparent;" class="text-contrast" ng-model="project.name" ng-change="projects.$save(project)" />
                            </td>
                            <td class="text-contrast">
                                {{ getTimeSpent(project) }}
                            </td>
                            <td style="padding:0px;">
                                <button tooltip-placement="top" tooltip="View&nbsp;Graphs" class="button robin-green" style="background:transparent;border:none;" ui-sref="app.timetrackerDetailStatistics({ id : '{{ project.$id }}' })"><i class="icon ion-pie-graph ion-1x"></i></button>
                            </td>
                            <td style="padding:0px;">
                                <button tooltip-placement="top" tooltip="Delete&nbsp;Project" style="background:transparent;border:none;" class="text-contrast button robin-red" href="" ng-click="deleteProject(project)"><i class="icon ion-trash-b ion-1x"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>                 
    </div>      

</div>