<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <!-- <link rel="icon" type="image/png" href="assets/img/favicon.ico"> -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <title>Argent</title>
        
        <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
        <meta name="viewport" content="width=device-width" />
        
        <link href="../assets/css/bootstrap.css" rel="stylesheet" />
        <link href="../assets/css/landing-page.css" rel="stylesheet"/>
        <!--     Fonts and icons     -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500" rel="stylesheet">
        <link href="../assets/css/pe-icon-7-stroke.css" rel="stylesheet" />
        <link href="../assets/css/sweetalert.css" rel="stylesheet" />
        <link href="../assets/css/override.css" rel="stylesheet" />
        <style type="text/css">
            html {
                overflow: scroll;
                overflow-x: hidden;
            }
            ::-webkit-scrollbar {
                width: 0px;  /* remove scrollbar space */
                background: transparent;  /* optional: just make scrollbar invisible */
            }
            /* optional: show position indicator in red */
            ::-webkit-scrollbar-thumb {
                background: #FF0000;
            }      
            #header, .icon, nav.li {
                /*margin-top: 25px;*/
                /*font-size: 26px;*/
                /*text-align: center;*/

                -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
                   -moz-animation: fadein 2s; /* Firefox < 16 */
                    -ms-animation: fadein 2s; /* Internet Explorer */
                     -o-animation: fadein 2s; /* Opera < 12.1 */
                        animation: fadein 2s;
                }

                @keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Firefox < 16 */
                @-moz-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Safari, Chrome and Opera > 12.1 */
                @-webkit-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Internet Explorer */
                @-ms-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }

                /* Opera < 12.1 */
                @-o-keyframes fadein {
                    from { opacity: 0; }
                    to   { opacity: 1; }
                }            
        </style>
    </head>
    <body class="landing-page landing-page1">     

    <div class="hero fullscreen">
                <div class="bs-example">                    
                    <!-- Modal HTML -->
                    <div id="modal" class="modal fade">
                        <div class="modal-dialog"  width="560" height="316">
                            <div class="modal-content" style="background:none;border:none;-webkit-box-shadow:none;box-shadow:none;border-radius:10px;">
                                <button type="button" class="close" style="width:50px;height:50px;margin-top:-20px;margin-right:-20px;color:white;" data-dismiss="modal" aria-hidden="true">×</button>
                                <div class="modal-body">
                                    <iframe src="https://player.vimeo.com/video/171163518" width="560" height="320" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>        
               
                <div class="" style="padding-top:75px;height:320px;
background-size:cover;
background: #10567F; /* fallback for old browsers */
background: -webkit-linear-gradient(to bottom left, rgba(0,0,0,0.6) , rgba(0,0,0,0.6)), url(assets/img/stock/24.jpg) no-repeat center center fixed; /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to bottom left, rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(assets/img/stock/24.jpg) no-repeat center center fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */">
                        <div class="">
                            <a>
                            <br><br><br><br>
                            <h3 class="pretty-font pretty-caps white">Our Team</h3>
                            </a>
                        </div>    
                </div>

                <div class="col-md-offset-2 col-md-8" style="margin-bottom:150px;margin-top:120px;">
                    <div>
                        <h4 id="header" class="pretty-font pretty-caps" style="margin-top:80px;line-height:2;">Who we are</h4>
                        <div style="">
                        <br>
                            <h5 id="header" class="pretty-font col-md-6 col-md-offset-3" style="line-height:2;background:white;padding:30px;border-radius:20px;box-shadow:0px 0px 20px 0px rgba(230, 230, 230, 0.6);border:1px solid rgba(225, 225, 225, 0.9);">We are a small team of entrepreneurs at the University of Virginia who hope to change the way businesses and individuals get paid for services.  Our projects are funded privately and by works we perform as consulting services through our parent company. We provide a recurring billing payment app where individuals and small businesses can make and receive payments using credit cards, bank accounts or Bitcoin.</h5>     
                        </div>                       
                    </div>

                </div>   

                <div class="row" style="">                                          
                    <div class="col-md-6 col-md-offset-3">
                        <a href="#">
                             <hr style="opacity:0.1">
                        </a>
                    </div>                         
                </div> 
                <div class="row" style="margin-top:150px;margin-bottom:0px;">                                          
                    <div class="col-md-6 col-md-offset-3">
                        <a href="#" class="thumbnail" style="border:none;background:transparent">
                             <img height="120px" width="120px" src="assets/img/faces/profile_sinan.png" class="icon img-responsive" style="border-radius:50%">
                        </a>
                    </div>                         
                </div>  
                <div class="col-md-offset-2 col-md-8" style="margin-bottom:200px;margin-top:-30px;">
                    <br><br>
                    <h4 id="header" class="pretty-font pretty-caps" style="line-height:2">The Founder</h4>
                        <div>
                            <h5 id="header" class="pretty-font col-md-6 col-md-offset-3" style="line-height:2;background:white;padding:30px;border-radius:20px;box-shadow:0px 0px 20px 0px rgba(230, 230, 230, 0.6);border:1px solid rgba(225, 225, 225, 0.9);">Sinan Ulkuatam is a 2014 Graduate of the University of Virginia holding a B.A. in International and Public Policy Economics.  Upon graduating, he worked in consulting with a Fortune 500 financial client. Afterwards, he created Argent, whose purpose aims to reduce payments friction for individuals and small businesses leveraging open-source and proprietary technology.  Mr. Ulkuatam currently lives in Charlottesville, Virginia and is pursuing a Masters degree in Computer Science.</h5>     
                        </div>                       
                    <br>
                    </a>
                </div>                   
            </div>
          
            <nav id="nav" class="container navbar navbar-light navbar-top" role="navigation">
                <div class="">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button id="menu-toggle" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                        </button>
                        <a href="/home">
                            <div class="logo-container">
                                        <div class="brand">
                                            <h5 class="brand-style hidden-xs" style="font-size:20px;color:#7b8999;display:inline;color:#FFF;letter-spacing:2px;font-weight:100;text-transform:uppercase;"><img style="height:50px;width:50px:border-radius:50%;margin-top:-15px;" src="assets/img/icons/icon-back-white.png">&nbsp;</h5>
                                            <h5 class="brand-style visible-xs" style="font-size:20px;color:#7b8999;display:inline;color:#FFF;letter-spacing:2px;font-weight:100;text-transform:uppercase;"><img style="height:50px;width:50px:border-radius:50%;margin-top:-22px;" src="assets/img/icons/icon-back.png">&nbsp;</h5>

                                        </div>
                                    </div>
                                </a>
                            </div>
                        </a>
                    </div>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse nav-responsive-color" id="nav-toggle" >
                        <ul class="nav navbar-nav navbar-right">       
                            <li>
                                <a class="pretty-font-header" href="/home"> 
                                    <span>Home</span>
                                </a>
                            </li> 
                            <li>
                                <a class="pretty-font" href="/cases"> 
                                    <span>Cases</span>
                                </a>
                            </li>                                                                                  
<!--                             <li>
                                <a class="pretty-font-header" href="#modal" class="btn btn-lg btn-primary" data-toggle="modal"> 
                                    <span>Video</span>
                                </a>
                            </li>  -->                            
                            <li>
                                <a class="pretty-font-header" href="/company"> 
                                    <span>Team</span>
                                </a>
                            </li>                            
                            <li>
                                <a class="pretty-font-header" href="https://medium.com/@argentapp" target="_blank"> 
                                    <span>Blog</span>
                                </a>
                            </li>                                                                                                        
                            <li>
                                <a class="pretty-font-header" target="_blank" href="https://itunes.apple.com/us/app/argent/id1110084542?mt=8"> 
                                    <span>App</span>
                                </a>
                            </li>                           
                        </ul>
                    </div>
                    <!-- /.navbar-collapse -->
                </div>
            </nav>



            <footer class="footer" style="background:#040d14;text-align:right;padding:40px;">
                <div class="container">
                    <nav class="text-center">
                        <ul>
                            <li>
                                <a href="/home">
                                <span class="white pretty-font-thin">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/company">
                                <span class="white pretty-font-thin">Team</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://argentapp.zendesk.com/hc/en-us" target="_blank">
                                <span class="white pretty-font-thin">Support</span>
                                </a>
                            </li>                            
                            <li>
                                <a href="https://medium.com/@argentapp" target="_blank">
                                <span class="white pretty-font-thin">Blog</span>
                                </a>
                            </li>
                            <li>
                                <a href="/privacy" target="_blank">
                                <span class="white pretty-font-thin">Privacy</span>
                                </a>
                            </li>
                            <li>
                                <a href="/terms" target="_blank">
                                <span class="white pretty-font-thin">Terms</span>
                                </a>
                            </li>                                                        
                        </ul>
                    </nav>
                    <div class="social-area hidden-xs pull-right">                
                        <a class="btn btn-social btn-simple" href="https://www.facebook.com/theargentapp" target="_blank">
                        <i class="white fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.twitter.com/argentapp" target="_blank">
                        <i class="white fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.instagram.com/argentapp" target="_blank">
                        <i class="white fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="mailto:hello@argent-tech.com" target="_blank">
                        <i class="white fa fa-envelope"></i>
                        </a>                        
                    </div>       
                    <div class="social-area visible-xs text-center">                
                        <a class="btn btn-social btn-simple" href="https://www.facebook.com/theargentapp" target="_blank">
                        <i class="white fa fa-facebook-square"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.twitter.com/argentapp" target="_blank">
                        <i class="white fa fa-twitter"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="https://www.instagram.com/argentapp" target="_blank">
                        <i class="white fa fa-instagram"></i>
                        </a>
                        <a class="btn btn-social btn-simple" href="mailto:hello@argent-tech.com" target="_blank">
                        <i class="white fa fa-envelope"></i>
                        </a>                        
                    </div>                   
                </div>
            </footer>
        </div>
    </div>
    </body>
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/jquery-ui-1.10.4.custom.min.js"></script>
    <script src="/assets/js/bootstrap.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/assets/js/awesome-landing-page.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>  
        <script type="text/javascript">
        $(document).ready(function(){
            /* Get iframe src attribute value i.e. YouTube video url
            and store it in a variable */
            var url = $("#video").attr('src');
            
            /* Assign empty url value to the iframe src attribute when
            modal hide, which stop the video playing */
            $("#modal").on('hide.bs.modal', function(){
                $("#video").attr('src', '');
            });
            
            /* Assign the initially stored url back to the iframe src
            attribute when modal is displayed again */
            $("#modal").on('show.bs.modal', function(){
                $("#video").attr('src', url);
            });
        });
    </script>  
    <script type="text/javascript">
        mixpanel.track_links("#nav a", "nav link clicked", {
            "referrer": document.referrer
        });
    </script>    
    <script type="text/javascript">
        $(document).ready(function(){
                mixpanel.track(
                    "Loaded Team",
                    {"status": "loaded"}
                );
        });
    </script>       
    <!-- start Mixpanel --><script type="text/javascript">(function(e,b){if(!b.__SV){var a,f,i,g;window.mixpanel=b;b._i=[];b.init=function(a,e,d){function f(b,h){var a=h.split(".");2==a.length&&(b=b[a[0]],h=a[1]);b[h]=function(){b.push([h].concat(Array.prototype.slice.call(arguments,0)))}}var c=b;"undefined"!==typeof d?c=b[d]=[]:d="mixpanel";c.people=c.people||[];c.toString=function(b){var a="mixpanel";"mixpanel"!==d&&(a+="."+d);b||(a+=" (stub)");return a};c.people.toString=function(){return c.toString(1)+".people (stub)"};i="disable time_event track track_pageview track_links track_forms register register_once alias unregister identify name_tag set_config reset people.set people.set_once people.increment people.append people.union people.track_charge people.clear_charges people.delete_user".split(" ");
        for(g=0;g<i.length;g++)f(c,i[g]);b._i.push([a,e,d])};b.__SV=1.2;a=e.createElement("script");a.type="text/javascript";a.async=!0;a.src="undefined"!==typeof MIXPANEL_CUSTOM_LIB_URL?MIXPANEL_CUSTOM_LIB_URL:"file:"===e.location.protocol&&"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js".match(/^\/\//)?"https://cdn.mxpnl.com/libs/mixpanel-2-latest.min.js":"//cdn.mxpnl.com/libs/mixpanel-2-latest.min.js";f=e.getElementsByTagName("script")[0];f.parentNode.insertBefore(a,f)}})(document,window.mixpanel||[]);
        mixpanel.init("1f4fcfed7b7cd487fd3c3270e61476e6");
    </script><!-- end Mixpanel -->    
</html>                                  