<div class="animated fadeIn">
    <div style="background:rgba(255,255,255,0) !important; width:100%;border-bottom:1px solid rgba(255,255,255,0.3);" >
        <div class="container" style="padding: 40px 30px;">
            <div ng-show="loaded" class="list list-projects col-md-6 pull-right" ng-controller="TeamProjectsController">
                <div>
                    <input style="width:50px;height:50px;border-radius:50%;float:right;margin-left:5px;" tooltip-placement="bottom" tooltip="Team&nbsp;Color" class="" ng-style="{ 'background-color':hexPicker.color, 'color':hexPicker.color,'border':'3px solid white' }" data-type="color" colorpicker="hex" ng-model="hexPicker.color" />
                    <button ng-click="addTeam()" class="btn-ghost-light btn-lg btn-primary" style="color:#fff;float:right" ng-style="{ 'background-color':hexPicker.color, 'color':'white','border':'3px solid white' }"><i class="icon ion-android-add-circle"></i>&nbsp;<span class="hidden-xs" style="font-weight:thin">Add</span> Team</button>                    
                </div>
            </div>
            <div ng-show="loaded" class="list list-projects col-md-6" ng-controller="TeamProjectsController">
              <h1 class="text-darklight" style="margin-top:0px;">Teams</h1>
            </div>
            <br><br>
            <br><br>
            <div ng-controller="TeamProjectsController">
                <div ng-repeat="team in teams" class="col-md-1 col-xs-6" style="margin-left:-10px">
                    <ul style="list-style-type: none;">
                        <li ng-model="team" style="cursor:pointer">
                            <img ng-if="team.picture" ng-src="{{ team.picture }}" tooltip-placement="top" tooltip="{{team.name}}" style="border-radius:50%;height:100px;width:100px;border:3px solid rgba(255,255,255,1);background:rgba(255,255,255,0.7);" ng-style="{ 'border':'3px solid {{team.color}}' }" />
                            <img ng-if="!team.picture" popover-placement="top" popover="" ng-src="bower_components/ionicons/png/512/cloud.png" style="border-radius:50%;height:100px;width:100px;border:3px solid rgba(255,255,255,1);background:rgba(255,255,255,0.7);padding:40px;color:white;" ng-style="{ 'border':'3px solid {{team.color}}' }" />
                        </li>
                    </ul>
                    <a href ng-click="addTeamMember(team.name)" style="cursor:pointer">
                        <div style="margin-left:50px;margin-top:-20px;" ng-model="team">
                            <span style="color:rgba(255,255,255,0.5);"><i class="icon ion-android-add-circle"></i></span>
                        </div>                    
                    </a>
                </div>                               
            </div>
           <div ng-show="loaded" ng-controller="TeamProjectsController">
                <div class="list list-projects col-md-12">
                    <table class="table table-bordered table-responsive">
                        <thead class="text-center text-darklight" style="text-transform:uppercase;">
                            <br>
                            <th>Team name</th>
                            <th>Members</th>
                            <th></th>
                            <th></th>
                        </thead>
                        <tbody>
                            <tr ng-repeat="team in teams">
                                <td>
                                    <input type="text" style="border-bottom:1px dotted #ddd;padding:0px!important;background:transparent;color:white;" ng-model="team.name" ng-change="teams.$save(team)" />
                                </td>
                                <td class="text-white">
                                    {{ getTimeSpent(team) }}
                                </td>
                                <td style="padding:0px;">
                                    <a class="" style="margin-left:120px;" ui-sref="app.timetrackerDetailStatistics({ id : '{{ team.$id }}' })"><i class="icon ion-pie-graph ion-1x text-white"></i></a>
                                </td>
                                <td style="padding:0px;">
                                    <a class="text-white" href="" ng-click="deleteTeam(team)"><i class="icon ion-trash-b ion-1x"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>                 
        </div>       
    </div>
</div>