<div class="container-fluid" >
  <!-- .navbar-header contains links seen on xs & sm screens -->
  <div class="navbar-header" >
    <ul class="nav navbar-nav" >
      <li class="pull-right">
        <!-- shown on xs & sm screen. collapses and expands navigation -->
        <a style="z-index:100" href="#" class="visible-xs navbar-toggle collapsed" data-toggle="collapse" type="click" aria-expanded="false" title="Show/hide navbar" data-tooltip data-target="#togglenav">
          <span class="icon-bar text-white top-bar"></span>
          <span class="icon-bar text-white bottom-bar" style="margin-top:10px;"></span>
        </a>
      </li>
          <!--xs & sm screen logo -->
        <li ng-if="!status.active" style="margin-top:25px;left:-20px;" class="fadein visible-xs">
            <!-- <img width="50" height="auto" ui-sref="app.dashboard" class="visible-xs" style="display:block;padding-top:10px;" src="app/img/timekloudlogo-app.png"></img>     -->     <img height="20px" src="app/img/logo-app.png"><span>Argent</span>    
            <!-- <h4 class="font-weight-thin" ui-sref="app.dashboard" ui-sref-active="active">{{vm.organization.name}}</h4> -->
        </li>          
    </ul>
  </div>

  <div class="container mobile-text-center">
    <nav class="collapse navbar-collapse" id="togglenav" data-toggle="collapse">
      <ul class="nav navbar-nav">
        <li >          
          <a ui-sref="app.profile">
            <div ng-if="!vm.user.facebook">            
            </div>  
            <div ng-if="vm.user.facebook">
              <img class="visible-xs text-center" style="height:auto;width:90px;border-radius:50%;display:block;margin-left:auto;margin-right:auto;margin-top:30px;" ng-src="https://graph.facebook.com/{{vm.user.facebook}}/picture?return_ssl_resources=1"></img> &nbsp;&nbsp;&nbsp;
            </div>
          </a>
        </li>        
        <li data-target="#togglenav">
          <!-- <a style="font-weight:bold;" class="navbar-brand hidden-xs" ui-sref="app.dashboard" ui-sref-active="active">{{app.name}}</a> -->
        </li>
        <li style="margin-top:-1px;"> 
          <a class="hidden-xs" ui-sref="app.dashboard" ui-sref-active="active" style="margin-left:-27px;color:#fff;"><span style="letter-spacing:2px;font-size:18px;font-weight:bold;font-family:'Nunito'"><img height="45px" src="app/img/logo-app.png"></span> 
        </li>        
        <li dropdown class="visible-md hidden-lg visible-sm hidden-xs">
             <a href="#" dropdown-toggle style="text-transform:none;font-weight:600;" >Menu &nbsp;<i style="font-size:14px" class="icon ion-ios-arrow-down"></i></a>
              <ul class="dropdown-menu animated-drop">
<!--                 <li ng-show="!orgFound">
                  <a ui-sref="app.editorganization({id: null})">Add Organization</a>
                </li>                
                <li ng-show="orgFound">
                  <a ui-sref="app.organization({id: user.orgId})">Organization</a>
                </li>              
                <li class="divider"></li> 
                <li>
                  <a ui-sref="app.project">Projects</a>
                </li>    
                <li class="divider"></li>           
                <li>
                  <a ui-sref="app.quotes">My Quotes</a>
                </li>                  
                <li>
                  <a ui-sref="app.createquote">Create Quote</a>
                </li>  
                <li class="divider"></li>                 
                <li>
                  <a ui-sref="app.timetrackerProjects">Stats Overview</a>
                </li>                
                <li>
                  <a ui-sref="app.statsbreakdown">Stats Breakdown</a>
                </li>    
                <li class="divider"></li>                
                <li>
                  <a ui-sref="app.invoice">My Invoices</a>
                </li>                
                <li>
                  <a ui-sref="app.createinvoice">Create Invoice</a>
                </li>  
                <li class="divider"></li>                   
                <li>
                  <a ui-sref="app.customers">My Customers</a>
                </li>                
                <li>
                  <a ui-sref="app.createcustomer">Add Customer</a>
                </li>           -->                                                
              </ul>
        </li>
<!--         <li dropdown class="hidden-xs">
             <a ui-sref="app.dashboard" style="text-transform:none;font-weight:600;padding-top:0px;" ><i class="icon ion-android-time" style="font-size:12px;"></i>&nbsp;&nbsp;Timer</a>
        </li>        -->    
        <li dropdown class="hidden-sm hidden-xs hidden-md">
             <a href="#" dropdown-toggle style="text-transform:none;font-weight:600;" ><i class="icon ion-paper-airplane" style="font-size:12px;"></i>&nbsp;&nbsp;Overview &nbsp;<i style="font-size:14px" class="icon ion-ios-arrow-down"></i></a>
              <ul class="dropdown-menu animated-drop">
<!--                 <li ng-show="!orgFound">
                  <a ui-sref="app.editorganization({id: null})">Add Organization</a>
                </li>                
                <li ng-show="orgFound">
                  <a ui-sref="app.organization({id: user.orgId})">Organization</a>
                </li>  -->
                <li ng-if="vm.user.env == 'DEV'">
                  <!-- <a ui-sref="app.team">Teams<sup>&nbsp;Beta</sup></a> -->
                </li>     
                <li>
                  <a ui-sref="app.customers">Customers</a>
                </li>                       
                <li>
                  <!-- <a ui-sref="app.contacts">Contacts</a> -->
                </li>                  
                <li>
                  <a ui-sref="app.quotes">Quotes</a>
                </li>   

              </ul>
        </li>                  
        <li dropdown class="hidden-sm hidden-xs hidden-md">
             <a href="#" dropdown-toggle style="text-transform:none;font-weight:600;" ><i class="icon ion-map" style="font-size:12px;"></i>&nbsp;&nbsp;Track &nbsp;<i style="font-size:14px" class="icon ion-ios-arrow-down"></i></a>
              <ul class="dropdown-menu animated-drop">
                <li>
                  <a ui-sref="app.project">Projects & Tasks</a>
                </li>                  
                <li>
                  <!-- <a ui-sref="app.project">Tasks</a> -->
                </li>          
                <li>
                  <!-- <a ui-sref="app.invoice">Invoices</a> -->
                </li>      
                <li>
                  <a ui-sref="app.billing">Billing</a>
                </li>           
                <li>
                  <a ui-sref="app.receivables">Receivables</a>
                </li>                                          
              </ul>
        </li>   
        <li dropdown class="hidden-sm hidden-xs hidden-md">
             <a href="#" dropdown-toggle style="text-transform:none;font-weight:600;" ><i class="icon ion-stats-bars" style="font-size:12px;"></i>&nbsp;&nbsp;Analyze &nbsp;<i style="font-size:14px" class="icon ion-ios-arrow-down"></i></a>
              <ul class="dropdown-menu animated-drop">
                <li>
                  <a ui-sref="app.timetrackerProjects">Reports</a>
                </li>                
                <li>
                  <a ui-sref="app.statsbreakdown">Productivity</a>
                </li>   
                <li>
                  <!-- <a ui-sref="app.statsbreakdown">Profitability</a> -->
                </li>   
                <li>
                  <!-- <a ui-sref="app.statsbreakdown">Pipeline</a> -->
                </li>                                                           
              </ul>
        </li>                                                                     
<!--         <li dropdown class="hidden-xs">
             <a ng-if="vm.user.env == 'DEV'" ui-sref="app.billing" style="text-transform:none;font-weight:600;padding-top:0px;" >Billing &nbsp;<i class="icon"></i></a>
        </li>     -->                                                   
<!--         <li class="visible-xs hidden-sm hidden-md hidden-lg">
          <a ui-sref="app.organization({id: organization._id})">Organization</a>
        </li>    -->                 
      </ul>
      <ul class="nav navbar-nav navbar-right">            
        <li dropdown class="hidden-xs" ng-if="!user.facebook">
             <a href="#" dropdown-toggle><i ng-if="!vm.user.picture.id" class="icon ion-gear-a ion-1x" style="padding-top:3px;"></i>
             <img ng-if="vm.user.picture.id" ng-src="{{vm.user.picture.secure_url}}" class="image circle" height="30" width="30"></img>&nbsp;&nbsp;<i style="font-size:14px" class="icon ion-ios-arrow-down"></i></a>
              <ul class="dropdown-menu animated-drop pull-right" style="">
                <li>
                  <a ui-sref="app.profile">Profile</a>
                </li> 
                <li>
                  <a ui-sref="app.editprofile">Settings</a>
                </li> 
                <li class="divider"></li>                   
                <li>
                  <a ui-sref="app.card">Credit Card</a>
                </li>    
                <li>
                  <a ui-sref="app.bank">Bank Account</a>
                </li> 
                <li>
                  <a ui-sref="app.integrations">Integrations</a>
                </li>                                                  
                <li>
                  <a ui-sref="app.plans">View Plans</a>
                </li>                                            
                <li class="divider"></li>         
                <li>
                  <a href ng-click="logout()">
                   Logout
                  </a>
                </li>                          
              </ul>
        </li>  
        <li class="visible-xs">
          <a ui-sref="app.profile">Profile</a>
        </li>        
        <li class="visible-xs">
          <a href ng-click="logout()">Logout</a>
        </li>                         
      </ul>
    </nav>   
  </div>
</div>
<span class="animated fadeIn slow">
<nav class="subnav">
</nav> 
</span>

